<!DOCTYPE html>
<html lang="sr">
    <head>
        <title>GymApp</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="vidth=device-vidth, initial-scale=1.0">
        <link rel= "stylesheet" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_membership.css') }}">
    </head>
    <body  contenteditable="false">
        <div class="container">
            <!--Navbar-->
            <div class="bar">
                <a href="{{ url_for('users') }}">
                    <button class="button" title="Nazad">Nazad</button>
                </a>
            </div>
            <form action="{{ url_for('addMembership')}}" method="post">
                <div class="user-content">
                    <p>
                        <label for="nameOfUser"><b>Ime i Prezime:</b> </label>
                        <input type="hidden" name="userId" id="userId" value="{{ user[0] }}" required>
                        <input type="text" value="{{ user[1] }} {{ user[2] }}" readonly="readonly">
                    </p>
                    <p>
                        <label for="startDate"><b>Startni datum</b></label>
                        <input type="date" id="startDate" name="startDate" value="{{ todayDate }}" required>
                    </p>
                    <p>
                        <label for="numberOfMonths"><b>Članarina za</b></label>
                        <select name="numberOfMonths" id="numberOfMonths"> 
                            <option value="30">1 mesec</option>
                            <option value="90">3 meseca</option>
                            <option value="180">5 + 1 mesec</option>
                        </select>
                    </p>
                    <p>
                        <label for="amount"><b>Iznos</b></label>
                        <input type="number" placeholder="Iznos" id="amount" name="amount" required>
                    </p>
                </div>
                <div>
                    <input type="hidden" name="next" value="{{ url_for('users') }}" />
                    <button class="button" type="submit" title="Uplati">Uplati</button>
                </div>
            </form>    
        </div>
    </body>
</html>