<!DOCTYPE html>
<html lang="sr">
    <head>
        <title>GymApp</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="vidth=device-vidth, initial-scale=1.0">
        <link rel= "stylesheet" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_user.css') }}">
    </head>
    <body  contenteditable="false">
        <div class="container">
            <!--Navbar-->
            <div class="bar">
                <a href="{{ url_for('users') }}">
                    <button class="button" title="Nazad">Nazad</button>
                </a>
            </div>
            <form action="{{ url_for('addUser')}}" method="post" enctype="multipart/form-data">
                <div class="text-content">
                    <p>
                        <label for="name"><b>Ime</b></label>
                        <input type="text" id="firstname" placeholder="Unesi ime" name="firstname" required>
                    </p>
                    <p>
                        <label for="lastname"><b>Prezime</b></label>
                        <input type="text" id="lastname" placeholder="Unesi prezime" name="lastname" required>
                    </p>
                    <p>
                        <label for="personalId"><b>Broj lične karte</b></label>
                        <input type="text" id="personalId" placeholder="Unesi broj lične karte" name="personalId">
                    </p>
                    <p>
                        <label for="group"><b>Izaberi grupu</b></label>
                        <select name="group" id="group"> 
                            {% for group in groups %}
                            <option value="{{ group[0] }}">{{ group[1] }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="idCard"><b>Broj kartice</b></label>
                        <select name="idCard" id="idCard"> 
                            {% for chip in chips %}
                            <option value="{{ chip[0] }}">{{ chip[0] }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="userPicture"><b>Dodaj sliku</b></label>
                        <input type="file" id="userPicture" name="userPicture" accept="image/png, image/jpeg"/>
                    </p>
                </div>
                <div>
                    <button class="button" type="submit" title="Dodaj korisnika">Dodaj korisnika</button>
                </div>
            </form>
        </div>
    </body>
</html>